*{
    font-family: 'Work Sans';
  }  
  body {
    background-color: rgba(255, 246, 235, 0.671);
  }
/* Nav Bar */
.signin-btn{
  color: #592B00C9;
  border: none
}
.signin-btn:hover{
  background-color: #512700a2;
  color: #fff4e9;
}
.nav-item{
 color: #AB5A10;
}
.nav-item a:hover{
  color:#592B00C9;
}
.navbar-items{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 1rem;
  
}
.nav-link-item{
  display: flex;
  justify-content: space-between;
}
.footer-logo-name{
  display: flex;
}

.parent {
  margin: 20px;
  background-color: #dcc5a28f;
  border: 3px double #b37f50;
  border-radius: 20px;
  box-shadow: 2px 1px 5px #b37f50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 15px 10px;
  /* text-align: center; */
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.combined {
  display: flex;
  flex-flow: wrap;
  padding: 0 5px;
}
.ngoImg{
  width: 21rem;
  border-radius: 2.5rem;
  padding: 0 0px 15px 7px;
  object-fit: cover;
}

.left-content {
  flex-grow: 1;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 100%;
  /* margin: 0 auto; */
  padding: 0 0 0 20px;
  box-sizing: border-box;
  /* text-align: center; */
  max-width: 1000px;
}

.right-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.right-content>* {
  margin: 5px 0;
}
.email{
  color: rgb(43, 20, 20);
  text-decoration: none;
}
.email:hover{
  color: #84450a;
}

.btn {
  background-color: #ab5b10bd;
  border: none;
  color: white;
  width: 10rem;
}

.btn:hover {
  background-color: #b05e11dc;
  color: white;
}

@media(max-width: 1420px){
  .combined{
    justify-content: center;
  }
  .description{
    text-align: center;
    padding: 0;
  }
  .right-content{
    justify-content: space-around;
  }
}
@media (max-width: 420px){
  .parent{
    overflow: scroll;
  }
}