*{
    font-family: 'Work Sans';
  }  
  body {
    background-color: rgba(255, 246, 235, 0.671);
    
  }
  .flex{
    display: flex;
    flex-direction: column;
  }
  .register{
    display: none;
    position: fixed ;
    top: 50%;
    left: 83.4%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 33vw;
    background-color: white;
    color: #745438;
    box-shadow: 0px 10px 14px 0px rgb(171 129 93) ;
    background-color: rgb(255 246 235);
    /* border-radius: 8px; */
    padding: 22px 10px;
    z-index: 100;
    overflow: scroll;
  }
  .registerField{
    margin-top: 11rem;
  }
  .head{
    margin-bottom: 1rem;
  }
  .darkBg{
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
  }
  .unityName{
    display: flex;
    align-items: center;
  }
  .unityName>*{
    margin: 0 5px; 
    font-size: 21px;
    cursor: default;
  }
  .inner{
    width: auto;
  }
  .form1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .form1 input[type="text"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 13px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background: none;
  }
  .adminSubmit{
    width: 10rem;
    height: 2.3rem;
    font-size: 1.3rem;
    border-radius:1rem ;
    background-color: #c8864f;
    margin-block: 20px 14px;
    color: white;
    border: none;
    align-self: center;
  }
  .adminSubmit:hover{
    background-color:#b05e11dc ;
    cursor: pointer;
  }
  
  @keyframes move-left {
    0% {
        right: -100px;
    }
    50%{
        right: 0px;
    }
    100% {
        right: 100px;
    }
}
  
  /* Apply the animation to the form */
  .slideInFromRight {
    animation: slideInFromRight 2s ease forwards;
  }
  