*{
  font-family: 'Work Sans';
}
body{
  background-color: rgba(255, 246, 235, 0.671) !important;
}  
/* Navbar */
/* .navbar{
  margin: 0.3rem 3.2rem;
}
.view{
  color: #592B00C9;
  border: none
}
.signin-btn:hover{
  background-color: #512700a2;
  color: #fff4e9;
}
.nav-item{
 color: #AB5A10;
}
.nav-item a:hover{
  color:#592B00C9;
}
.navbar-items{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 1rem;
  
}
.nav-link-item{
  display: flex;
  justify-content: space-between;
} */

.section1{
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  box-sizing: border-box;
  margin: 1rem 0 1rem 0;
}
.headingSection1{
  color: #AB5A10;
  writing-mode: vertical-lr;
  height: 23rem;
  margin: 1rem;
  text-align: center;
  display: inline-block;
  text-orientation: upright;
}
.contentSection1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-1 img{
  width: 19rem;
}
.donate{
  color: #AB5A10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 4rem;
}
/* .list {
  display: flex;
  list-style: none;
  padding-left: 0rem;
}
.list li{
  width: 13rem;   
} 
.checkbox-label{
  font-size: 1.5rem;
  cursor: pointer;
} */
.sub1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rup{
  list-style: none;
  display: flex;
  margin: 0 0 1rem 0;
}
.amount{
  width: 9rem;
  height: 2.5rem;
  border-radius: 10px;
  background: none;
  border: 1px solid rgba(171, 90, 16, 0.8000000119);
  margin: 0 6px 0 0;
}
.other-amount{
  width: 20rem;
  text-align: center;
}
.donateBtn{
  width: 6rem;
  background-color: rgba(171, 90, 16, 0.8000000119);
  border-radius: 1rem 0;
  color: #ffffff;
  height: 2rem;
  border: none;
}
.donateBtn:hover{
  background-color: #a86d37;
}

.section2{
  margin: 3rem 0;
}
.heead{
  width: 12.3rem;
  height: 4.6rem;
  align-items: baseline;
  padding: 1.2rem 6.5rem;
}
.section2 p{
  padding: 1rem 3rem;
  text-align: center;
}
/* .vara{
   width: 12rem;
   height: 12rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 3.5rem;
   margin-inline-start: auto;
}
.cir{
   width: 4.6rem;
   height: 4.4rem;
   border-radius: 50%;    
   background-color: #D9D9D9;  
   margin-right: 13px;
   cursor: pointer;
}
.cir b{
   margin:22px auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.cir img{
   align-items: center;
   margin: 21px auto;
}
.location{
   height: 12rem;
   width: 15rem;
   display: flex;
   margin: 0rem 12rem;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   
}
.head{
  width: 83rem;
  padding-top: 0rem;
  height: 12rem;
  margin: 18px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}
.dum{
   padding-left: 1rem;
}
.dum p{
font-weight: 200;
margin: 25px;
}
.line{
   background-color: #FFFFFF;
   width: 90%;
   height: 2px;
   margin: 36px 38px;
   border-radius: 3px;
   
}
.one{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-content: center;
   height: 12rem;
}
.container {
  height: 23rem;
  background-color: rgb(179 125 78);
  color: aliceblue;
  padding: 0rem 0rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 1.4rem;
  font-size: 12px;
}


p {
font-size: 1.3em;
line-height: 1.53em;
}
.second{
   display: flex;
   justify-content: center;
   align-items: center;
}
.com{width: 12rem;
    height: 6rem; 
}
.com p{
color: #000000;
}
.cost{
    width: 14rem;
    display: flex;
    flex-direction:column;
}
.footer{
padding:1rem;
}
.footer-logo-name{
display: flex;
align-items: flex-start;
}
.footer .follow{
display: grid;
grid-template-columns: 1fr 2fr;
padding: 8px 0.7rem;
}
.paraBelowDonate{
  text-wrap: 100;
} */

@media(max-width: 1000px){
  .headingSection1{
    all: unset;
    color: #AB5A10;
    text-align: center;
  }
  .section1{
    flex-direction: column;
  }
}
@media(max-width: 839px){
  .contentSection1{
    flex-direction: column;
  }
  .donate{
    margin: 1rem 0 0 0;
  }
}
@media(max-width: 473px){
  .amount{
    height: unset;
    width: 7.2rem;
  }
  .other-amount{
    width: 15rem;
  }
  .donateBtn{
    width: 6.5rem;
    height: 2.2rem;
    font-size: 1.2rem;
  }
}
@media(max-width: 374px){
  .amount{
    height: unset;
    width: 6rem;
  }
  .other-amount{
    width: 13rem;
  }
}