body::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}
body::-webkit-scrollbar-track {
  background:#bd895877 ; /* Color of the track */
  opacity: 0.7;
}

body::-webkit-scrollbar-thumb {
  background: #af6a2abd; /* Color of the scroll thumb */
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #ab5b10bd; /* Color of the scroll thumb on hover */
}