*{
    font-family: 'Work Sans';
  }  
  body {
    background-color: rgba(255, 246, 235, 0.671);
  }
/* Nav Bar */
.signin-btn{
  color: #592B00C9;
  border: none
}
.signin-btn:hover{
  background-color: #512700a2;
  color: #fff4e9;
}
.nav-item{
 color: #AB5A10;
}
.nav-item a:hover{
  color:#592B00C9;
}
.navbar-items{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 1rem;
  
}
.nav-link-item{
  display: flex;
  justify-content: space-between;
}